@page "/PesquisarFuncionario"

<h1>Pesquisar Funcionario</h1>
<div>

    <input class="campoPesquisa" id="campoPesquisa">
    <button class="button" id="btnPesquisar">Pesquisar</button>
    <p></p>
    <label>RA do Funcionario</label>
    <label></label>
    <p></p>
    <label>Nome do Funcionario</label>
    <label></label>
    <p></p>
    <label>CPF</label>
    <label></label>
    <p></p>
    <label>Telefone</label>
    <label></label>
    <p></p>
    <label>Endereço</label>
    <label></label>
    <p></p>
    <label>Setor</label>
    <label></label>
    <p></p>
    <label>Cargo</label>
    <label></label>
    <p></p>
    <label>Chefe</label>
    <label></label>
    <p></p>


</div>
@code { }
