@page "/PesquisarAluno"

<h1>Pesquisar Aluno</h1>
<div>

    <input class="campoPesquisa" id="campoPesquisa">
    <button class="button" id="btnPesquisar">Pesquisar</button>
    <p></p>
    <label>RA</label>
    <label></label>
    <p></p>
    <label>Nome</label>
    <label></label>
    <p></p>
    <label>CPF</label>
    <label></label>
    <p></p>
    <label>Telefone</label>
    <label></label>
    <p></p>
    <label>Endereço</label>
    <label></label>
    <p></p>
    <label>Cursos Matriculado</label>
    <label></label>
    <p></p>


</div>
@code {

}
