@page "/PesquisarProfessor"

<h1>Pesquisar Professores</h1>
<div>

    <input class="campoPesquisa" id="campoPesquisa">
    <button class="button" id="btnPesquisar">Pesquisar</button>
    <p></p>
    <label>RA do professor</label>
    <label></label>
    <p></p>
    <label>Nome do professor</label>
    <label></label>
    <p></p>
    <label>CPF</label>
    <label></label>
    <p></p>
    <label>Telefone</label>
    <label></label>
    <p></p>
    <label>Endereço</label>
    <label></label>
    <p></p>

    <label>Cursos lecionados</label>
    <label></label>
    <p></p>


</div>


@code {

}
